* {
  box-sizing: border-box;
}

button {
  background-color: #195abd;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60px;
}

button:active {
  background-color: #073d8f;
}

.dodaj {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 1rem;
}
